<main>
    <div class="main-banner">
        <div class="degrade_black">
            <h1>BARBER SHOP 
                <img id="icon-tesoura" 
                        src="public/img/tesoura.png" 
                        alt="Tesoura"> NOBLESSE
                </h1>
            <h3>A sua barbearia de excelência</h3>
        </div>
    </div>
    <article>
        <div class="description-barber">
            <div id="div-subtitle" 
                    class="div-subtitle">
                <div class="listre"></div>
                    <h4 id="subtitle">&nbsp;&nbsp;Venha nos conhecer&nbsp;&nbsp;</h4>
                <div class="listre"></div>
            </div>
            <div class="elements-description">
                <div id="text-desc" 
                        class="text-description-light">
                    <p>Bem-vindo à <span>Barber-Shop Noblesse</span>, onde cada detalhe é pensado para proporcionar uma experiência única. 
                        Nossa barbearia combina técnicas tradicionais com um toque moderno, oferecendo cortes de cabelo impecáveis 
                        e barbas bem esculpidas.
                    </p>
                    <p>Nosso compromisso com a excelência no atendimento se reflete na atenção dedicada 
                        a cada cliente, garantindo um serviço personalizado que vai além das expectativas. 
                        Com um ambiente acolhedor e profissionais altamente qualificados, transformamos sua visita em um momento 
                        de relaxamento e estilo. Venha para a <span>Barber-Shop Noblesse</span> e descubra o verdadeiro significado 
                        de um atendimento de primeira classe.
                    </p>
                    <a id="link-sobre" 
                        class="link-sobre-light" 
                        href="http://localhost/Barbearia-Noblesse/?page=sobre">
                        Saiba mais sobre nossa história...
                    </a>
                </div>
                <div class="image-description">
                    <!--<img id="img-description" src="public/img/contents/image-banner-4.jpg" alt="Imagem">
                    <div id="div-img-tesoura-pente">
                        <img id="img-tesoura-pente" src="public/img/tesoura-white.png" alt="Imagem">
                    </div> -->                         
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="agenda">
            <div class="aberto">
                <img src="public/img/calendar-2.png" 
                        alt="Calendário">
                <table id="table-times">
                    <caption>Dias de funcionamento</caption>
                    <thead>
                        <tr>
                            <th>Dia da semana</th>
                            <th>Manhã</th>
                            <th>Horário de Almoço</th>
                            <th>Tarde</th>
                            <th>Noite</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="dias-semana">Segunda-Feira</td>
                            <td>09:00H - 12:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-closed">Fechado</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Terça-Feira</td>
                            <td>08:00H - 12:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-closed">Fechado</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Quarta-Feira</td>
                            <td>08:00H - 12:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-closed">Fechado</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Quinta-Feira</td>
                            <td>08:00H - 12:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-closed">Fechado</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Sexta-Feira</td>
                            <td>08:00H - 12:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-open-duty">Plantão</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-open-duty">Plantão</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Sábado</td>
                            <td>09:00H - 11:00H <strong class="barber-open">Aberto</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-open">Aberto</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-open-duty">Plantão</strong></td>
                        </tr>
                        <tr>
                            <td class="dias-semana">Domingo</td>
                            <td>08:00H - 12:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>12:00H - 13:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>13:00H - 18:00H <strong class="barber-closed">Fechado</strong></td>
                            <td>18:00H - 20:00H <strong class="barber-closed">Fechado</strong></td>
                        </tr>
                    </tbody>
                </table>
                <p id="footer-table">
                    <span>
                        Obs:
                    </span> Horários de 
                    <strong class="barber-open-duty">
                        Plantão
                    </strong> será requerido agendamento.
                </p>
            </div>
        </div>
    </article>
    <div class="reservar-horarios">
        <div class="agendamento">
            <h5>Faça seu agendamento abaixo:</h5>
            <div class="form-disponibilidade">
                <div class="dia-horarios">
                    <div class="dia">
                        <label for="">Selecione a data:</label>
                        <input id="inp-data" 
                                type="date"
                        />
                    </div>
                    <div class="horario">
                        <label for="select-horarios">Selecione o horário:</label>
                        <select name="select-horarios" 
                                id="select-horarios"
                        >
                            <option value="08:00">08:00h da manhã</option>
                            <option value="08:30">08:30h da manhã</option>
                            <option value="09:00">09:00h da manhã</option>
                            <option value="09:30">09:30h da manhã</option>
                            <option value="10:00">10:00h da manhã</option>
                            <option value="10:30">10:30h da manhã</option>
                            <option value="11:00">11:00h da manhã</option>
                            <option value="11:30">11:30h da manhã</option>
                            <option value="12:00">12:00h da tarde</option>
                            <option value="12:30">12:30h da tarde</option>
                            <option value="13:00">13:00h da tarde</option>
                            <option value="13:30">13:30h da tarde</option>
                            <option value="14:00">14:00h da tarde</option>
                            <option value="14:30">14:30h da tarde</option>
                            <option value="15:00">15:00h da tarde</option>
                            <option value="15:30">15:30h da tarde</option>
                            <option value="16:00">16:00h da tarde</option>
                            <option value="16:30">16:30h da tarde</option>
                            <option value="17:00">17:00h da tarde</option>
                            <option value="17:30">17:30h da tarde</option>
                            <option value="18:00">18:00h da noite</option>
                            <option value="18:30">18:30h da noite</option>
                            <option value="19:00">19:00h da noite</option>
                            <option value="19:30">19:30h da noite</option>
                        </select>
                    </div>
                    <div class="dia-semana">
                        <label for="dia-semana">Selecione o dia:</label>
                        <select name="dia-semana" 
                                id="dia-semana">
                            <option value="Segunda-Feira">Segunda-Feira</option>
                            <option value="Terça-Feira">Terça-Feira</option>
                            <option value="Quarta-Feira">Quarta-Feira</option>
                            <option value="Quinta-Feira">Quinta-Feira</option>
                            <option value="Sexta-Feira">Sexta-Feira</option>
                            <option value="Sábado">Sábado</option>
                        </select>
                    </div>
                </div>
                <div class="comentario-obs">
                    <div class="div-comentario">
                        <textarea name="" 
                                    id="textarea-comentario" 
                                    placeholder="Deixe uma observação aqui... "></textarea>  
                    </div>
                    <div class="div-buttons">
                        <button id="btn-verificar">
                            Verificar disponibilidade
                        </button>
                        <button id="btn-agendar">
                            Agendar
                        </button>
                    </div>     
                </div>
                <div class="div-message-disponibilidade">
                    <img id="icon-verify" src="public/img/verify.png" 
                                            alt="Verificado"/>
                    <p id="message-disponibilidade-success">
                        Agendamento realizado com sucesso.
                    </p>                          
                </div>
            </div>
        </div>
    </div>
</main>   
