<nav>
    <div class="area-contato-main">
        <div class="banner-contact">
            <h1 id="title-contact">Área de Contato</h1>
        </div>
        <div class="div-buttons-social-media">
            <div class="area-social-media">   
                <div class="button-active">
                    <p>Fale <br>Conosco</p>
                </div>
                <div class="icons-social-media">
                    <button id="btn-whatsapp" 
                            class="btns-contacts">
                        <a href="https://web.whatsapp.com/"
                           target="_blank">
                            <img src="public/img/redes-sociais/whatsapp.png" 
                                 alt="WhatsApp" 
                                 title="WhatsApp"
                            />
                        </a>                      
                    </button>
                    <button id="btn-facebook" 
                            class="btns-contacts">
                        <a href="https://www.facebook.com/?locale=pt_BR" 
                           target="_blank">
                            <img src="public/img/redes-sociais/facebook.png" 
                                 alt="Facebook" 
                                 title="Facebook"
                            />
                        </a>
                    </button>
                    <button id="btn-instagram" 
                            class="btns-contacts">
                        <a href="https://www.instagram.com/"
                           target="_blank">
                            <img src="public/img/redes-sociais/instagram.png" 
                                 alt="Instagram" 
                                 title="Instagram"
                            />
                        </a>                    
                    </button>
                    <button id="btn-email" 
                            class="btns-contacts">
                        <a id="link-email"
                           href="#area-email"
                           target="_self">
                            <img src="public/img/redes-sociais/email.png" 
                                 alt="Email" 
                                 title="E-mail"
                            />
                        </a>                       
                    </button>
                </div>             
            </div>
        </div>
        <div id="area-email" class="area-email">
            <div class="form-email">
                <div class="title-form">
                    <img src="public/img/icon-atendimento-black.png" alt="Atendimento" title="Atendimento">
                    <h4>Contato por e-mail</h4>
                </div>
                <div class="div-form-email">
                    <form action="">
                        <div class="nome">                           
                            <input id="nome" type="text" required> 
                            <label for="nome">Nome</label>
                        </div>
                        <div class="email">                        
                            <input id="email" type="text" required>
                            <label for="email">E-mail</label> 
                        </div>
                        <div class="assunto">                         
                            <input id="assunto" type="text" required> 
                            <label for="assunto">Assunto</label>
                        </div>
                        <div class="textarea-email">
                            <textarea name="" id="textarea-email" placeholder="Digite sua mensagem aqui..."></textarea>
                        </div>
                        <div class="div-btn-submit">
                            <button id="btn-enviar" type="submit">
                                Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>