<main>
    <div class="container-login">
        <div class="text-initial">
            <p>Para ter acesso aos recursos do sistema como Agendamentos de Horários,
               Consultas de Horários, Curtidas e etc, será requerido o Login de acesso.  
            </p>
        </div>
        <div class="form-login">
            <div class="form">
                <form action="">
                    <h1>Login</h1>
                    <div class ="container-email">
                        <input id="inp-email" type="email" name="email"/>
                        <label for="inp-email">E-mail</label>
                    </div>
                    <div class="container-senha">
                        <input id="inp-senha" type="senha" name="senha"/>
                        <label for="inp-senha">Senha</label>
                    </div>
                    <input id="conectado" type="checkbox">
                    <label for="conectado">Manter conectado</label>
                    <div class="container-btn-entrar">
                        <button>Entrar</button>
                    </div>
                </form>
                <div class="reset-senha">
                    <a href="#">Esqueci a senha</a>
                </div>
                <div class="link-cadastro">
                    <p>Não possui cadastro? 
                        <a href="#">Cadastre-se aqui</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>