<main>
    <div class="container-cortes">
        <div class="container-title-cortes">
            <h1>Nossos trabalhos</h1>
        </div>
        <div class="carousel">
            <div class="slider">
                <div class="slides">
                    <input type="radio" id="radio1" name="radio-buttons" value="inp1"/>
                    <input type="radio" id="radio2" name="radio-buttons" value="inp2"/>
                    <input type="radio" id="radio3" name="radio-buttons" value="inp3"/>
                    <input type="radio" id="radio4" name="radio-buttons" value="inp4" checked/>
                    <input type="radio" id="radio5" name="radio-buttons" value="inp5"/>
                    <input type="radio" id="radio6" name="radio-buttons" value="inp6"/>
                    <input type="radio" id="radio7" name="radio-buttons" value="inp7"/>

                    <div class="slide first slide1">
                        <div class="background-text">
                            Militar
                            <div class="likes">
                                <p id="likes-users">921</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide2">
                        <div class="background-text">
                            Disfarçado
                            <div class="likes">
                                <p id="likes-users">634</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide3">
                        <div class="background-text">
                            Pompadour
                            <div class="likes">
                                <p id="likes-users">321</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide4">
                        <div class="background-text">
                            Moicano
                            <div class="likes">
                                <p id="likes-users">120</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide5">
                        <div class="background-text">
                            Top Knot
                            <div class="likes">
                                <p id="likes-users">510</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide6">
                        <div class="background-text">
                            Undercut
                            <div class="likes">
                                <p id="likes-users">733</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>
                    <div class="slide slide7">
                        <div class="background-text">
                            Social
                            <div class="likes">
                                <p id="likes-users">229</p>
                                <button class="btn-like">
                                    <img src="public/img/coracao-branco.png" alt="Curtidas" title="Curtir">
                                </button>                           
                            </div>
                        </div>
                    </div>

                    <div class="navigate-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                        <div class="auto-btn5"></div>
                        <div class="auto-btn6"></div>
                        <div class="auto-btn7"></div>
                    </div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                    <label for="radio5" class="manual-btn"></label>
                    <label for="radio6" class="manual-btn"></label>
                    <label for="radio7" class="manual-btn"></label>
                </div>
            </div>
            <button id="btn-prev"
                    onclick="slider(-1)">
                <img src="public/img/seta-direita.png" 
                     alt="Anterior"
                     title="Anterior">
            </button>
            <button id="btn-next"
                    onclick="slider(1)">
                <img src="public/img/seta-direita.png" 
                     alt="Next" 
                     title="Próximo">
            </button>
        </div>
    </div>
</main>